#stock-card
  .stock-card-info-block
    margin-bottom: 10px
    padding: 10px
    background-color: #cccccc
    .stock-card-ticker-code

    .stock-card-latest-price
  .stock-card-story
    border-top: 1px dotted #ccc
    padding-bottom: 10px
    h2
      font-size: 18px
      margin: 10px 0px
    .glyphicon
      font-size:  28px
      margin: 10px
    .glyphicon-info-sign
      color: #2F6FAD
    .glyphicon-thumbs-down
      color: #cc0000
    .glyphicon-thumbs-up
      color: #4cae4c